@model FashionHouse.Data.ObjectModel.ProductModel

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name, new { @class = "form-text text-muted" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "form-text text-muted " })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Count, new { @class = "form-text text-muted" })
        @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Count, "", new { @class = "form-text text-muted " })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Price, new { @class = "form-text text-muted" })
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Price, "", new { @class = "form-text text-muted" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MarketingInfo, new { @class = "form-text text-muted" })
        @Html.TextAreaFor(x => x.MarketingInfo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MarketingInfo, "", new { @class = "form-text text-muted" })
    </div>
    <hr>

    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuCategories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Выберите категорию
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuCategories">
            @foreach (var category in Model.ProductCategories)
            {
                <input class="font-weight-bold" asp-for="ProductCategoryId" value="@category.Id" type="radio" />
                <label asp-for="@category.Id">@category.Name</label>
                <br>
            }
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark" asp-controller="Product" asp-action="AddCategory">Создать новую категорию</a>
        </div>
    </div>
    <hr>

    <div class="dropdown">
        <button class="btn btn-secondary" type="button" id="dropdownMenuAttributes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Выберите аттрибут
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuAttributes">
            @foreach (var myAttribute in Model.ProductAttributes)
            {
                <input class="font-weight-bold" asp-for="ProductAttributeId" value="@myAttribute.Id" type="radio" />
                <label asp-for="@myAttribute.Id">@myAttribute.Name</label>
                <br>
            }
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark" asp-controller="Product" asp-action="AddAttribute">Создать новый аттрибут</a>
        </div>
    </div>
    <hr>

    <input type="submit" value="Отправить" class="btn btn-success" />
}
